*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

/* debug */
.border{
  border: solid 2px #000;
  height: 100px;
}
/* debug */

header, section{
  text-align: center;
}

/* nav */
#logo{
  width: 50%;
}

.padesa{
  margin: 5.5% 2% 0;
  color:#0c2454;
}
 .padnav{
  margin: 1.5% 0 0 3%;
  color:#0c2454;
}

.signup{
  background-color: #f0f0f0;
  border:solid 1px #579aff;
  color:#579aff;
  padding:1.5%;
  border-radius:5%;
}

/* it'sjumbotime */

.bluecontainer{
  margin-top: 50px;
  background-image: url(img/blu.jpg);
  color: #fff;
  text-align: left;
}

h1{
  padding-top: 3%;
  font-size: 50px;
  font-weight: 600;
}

.whitep{
  padding-bottom:6%;
  opacity:0.7;
  font-size: 16px;
}

.divaparte{
  margin: 5% 0 5% 6%;
  background-color: #fff;
  height:330px;
  width:430px;
  border-radius: 3%;
}


/* logus */

.loghi{
  background-color: #f0f0f0;
}

h4{
  color:#2F4F4F;
  margin: 5% 0 3% 0;
}

.logus{
  width:15%;
  margin-bottom: 2%;
}

#view{
  font-size: 20px;
  color:#036cfe;
}


/* nest */

h2{
  margin-top: 5%;
  font-weight: bold;
}

#nestp{
  color:#000;
  font-size: 16px;
  margin-bottom: 5%;
}

.clear-xs, .clear-md, .clear-lg  {
  clear: both;
  display: none;
}

ul{
  list-style-type: none;
}

.ulnest{
  margin:0 10% 0 40%;
  border-left: 1px solid grey;
}

.linest{
  padding: 2% 0 15% 0;
  font-size: 18px;
}

.cloud{
  text-align: left;
  margin:0 0 5% 15%;
}

i{
  color:#579aff;
}

h3{
  top:0;
  font-size:20px;
  font-weight: bold;
}


/* grey section */

.grey{
  background-color: #f3f5f9;
}

.imggrey{
  margin:5% 2% 2% 2%;
}

/* .carousel{
  margin-top: 4%;
  color:#579aff;
} */

/* 3 paragrafi */
.par{
  text-align: left;
  margin-bottom:4%;
}

#space{
  margin-bottom: 4%;
}

/* blue table */

.lisection{
  background-color: #00008B;
  color: #fff;
  height: auto;
}

.ulcities{
  text-align: left;
  padding-bottom: 8%;
}

.licities{
  border-bottom: solid 1px #fff;
  padding: 2% 0 2% 0;
}

.opacity{
  opacity: 0.7;
  margin: 0 35% 0 10%;
}

/* bluebutton */
.bluebutt{
  background-color: #00008B;
}

.bluebutt>div>div>h1{
  color:#fff;
  margin-bottom: 4%;
}

.bluebutt>div>div>input{
  padding:1%;
  color: #00008B;
  font-weight: 600;
  border-radius: 6%;
  margin-bottom: 4%;
}


/* footer */

footer{
  background-color: #191970;
  color: #fff;
  padding-top: 4%;
}

@media screen and (max-width:767px){

  #logo{
    margin-top: 2%;
  }

  .divaparte{
    margin: 2% 3% 5% 3%;
  }

  .ulnest{
    margin:0 70% 2% 0;
  }

  .imggrey{
    width:70%;

  }

}

@media screen and (min-width:768px) and (max-width:991px){

  .ulnest{
    margin:0 80% 4% 0;
  }


}


@media screen and (min-width:992px) and (max-width:1199){
  #logo{
    width:20%;
  }

}

@media screen and (min-width:1200px){

  .clear-lg  {
    display: block;
  }
}
