*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}


header, section{
  text-align: center;
}

a:hover{
  text-decoration: none;
  color:#0069ff;
}

/* nav */

i{
  color:#0c2454;
}

.padesa{
  margin: 5.5% 2% 0;
  color:#0c2454;
}
 .padnav{
  margin: 1.5% 0 0 3%;
  color:#0c2454;
}

.signup{
  background-color: #f0f0f0;
  border:solid 1px #0069ff;
  color:#0069ff;
  padding:1%;
  border-radius:5%;
}

.signup:hover{
  background-color: #0069ff;
  color:#fff;
}

i.fa-bars{
  width:50%;
  margin-top: 15%;
  color:#0069ff;
}

/* it'sjumbotime */

.bluecontainer{
  margin-top: 50px;
  background-image: url(img/blu.jpg);
  color: #fff;
  text-align: left;
  padding-bottom: 4%;
}

h1{
  padding-top: 3%;
  font-size: 50px;
  font-weight: 600;
}

.whitep{
  padding-bottom:6%;
  opacity:0.7;
  font-size: 16px;
}

/* quadrato bianco form google */

.divaparte{
  margin: 5% 0 5% 6%;
  background-color: #fff;
  width:100%;
  border-radius: 3%;
  text-align: center;
  padding:2% 1% 2% 1%;
}

.divaparte>h2{
  color:#000;
  margin: 4% 2% 0 2%;
  font-size: 23px;
}

.divaparte>h3{
  color:#579aff;
  font-size: 23px;
}

div.form>input, div.buttongoogle>input{
  width: 90%;
  margin:1% 0 1% 0;
}

input.create:hover{
  background-color: #0069ff;
}

input.sign:hover{
  color:#0069ff;
}

.email{
  border:1px solid #f0f0f0;
  color: #606060;
  padding: 1% 0 1% 1%;
  border-radius: 1%;
}

input.sign{
  background-image: url(img/goo.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 4px 5px;
  color: #000;
  padding:1%;
  font-weight: bold;
  border-radius: 3%;
}

input.create{
  background-color: #579aff;
  border: none;
  padding: 1%;
  border-radius: 3%;
}

.divaparte>h4{
  font-size: 10px;
  font-weight: bold;
}

/* logus */

.loghi{
  background-color: #f3f5f9;
  padding-bottom: 2%;
}

h4{
  color:#2F4F4F;
  margin: 5% 0 3% 0;
}

.logus{
  width:15%;
  margin-bottom: 2%;
}

#view{
  font-size: 20px;
  color:#036cfe;
}


/* nest */

.nestsection{
  padding-bottom:4%;
}

h2{
  margin-top: 5%;
  font-weight: bold;
}

#nestp{
  color:#000;
  font-size: 16px;
  margin-bottom: 5%;
}

.clear-xs, .clear-md, .clear-lg  {
  clear: both;
  display: none;
}

ul{
  list-style-type: none;
}

.ulnest{
  margin:0 10% 0 40%;
  border-left: 1px solid grey;
}

.linest{
  padding: 2% 0 15% 0;
  font-size: 18px;
}

.cloud{
  text-align: left;
  margin:0 0 5% 15%;
}


h3{
  top:0;
  font-size:20px;
  font-weight: bold;
}


/* grey section */

.grey{
  background-color: #f3f5f9;
  padding-bottom: 4%;
}

.imggrey{
  margin:5% 2% 2% 2%;
}

.fa-circle, .far-circle{
  color:#0069ff;
}

/* 3 paragrafi */
.yourbusiness{
  padding-bottom: 4%;
}
.paragrafo{
  text-align: left;
}

#space{
  margin-bottom: 4%;
}

div.paragrafo>p{
  padding-bottom:4%;
}

/* blue table */

.lisection{
  background-color: #00008B;
  color: #fff;
  height: auto;
}

.ulcities{
  text-align: left;
  padding:4% 0 8% 0;
}

.licities{
  border-bottom: 1px solid #fff;
  margin-top: 2%;
}

.margin{
  margin-left: 85%;
  margin-bottom: 5%;
}

.opacity{
  opacity: 0.7;
  margin-left: 10%;
}

/* bluebutton */
.bluebutt{
  background-color: #002ea9;
  padding-bottom: 4%;
}

.bluebutt>div>div>div>h1{
  color:#fff;
  margin-bottom: 3%;
}

.bluebutt>div>div>div>input{
  padding:1%;
  color: #0069ff;
  font-weight: 600;
  border-radius: 6%;
  border:none;
}


/* footer */

footer{
  background-color: #031c4e;
  color: #fff;
  padding: 4% 0 4% 0;
}

.footerul>li a, h6{
  color:#fff;
  opacity:0.6;
}

.footerul>li a:hover{
  opacity:1;
}

#justwhite{
  opacity:1;
}

.footeri{
  color:#fff;
  opacity:0.6;
  padding-right: 2%;
}


/* mquery */

@media screen and (max-width:767px){

  .logo{
    width:60%;
    margin-top: 4%;
  }

  .divaparte{
    width:90%;
  }

  .logus{
    width:35%;
    margin-right: 6%;
  }

  .ulnest{
    margin:0 90% 2% 0;
  }

  .cloud{
    margin-left: 0;
  }

  .paragrafo{
    padding-bottom: 4%;
  }

  .imggrey{
    width:70%;
  }

  .margin{
    margin-left: 80%;
  }



}

@media screen and (min-width:768px) and (max-width:991px){

  .logo{
    width:50%;
    margin: 4% 40% 0 0;

  }
  .divaparte{
    width:90%;
  }

  .ulnest{
    margin:0 87% 4% 0;
  }

  .cloud{
    margin-left: 0;
  }

  .paragrafo{
    padding-bottom: 4%;
  }


}


@media screen and (min-width:992px) and (max-width:1199){
  .logo{
    margin-right: 40%;
  }

}

@media screen and (min-width:1200px){

  .clear-lg  {
    display: block;
  }

  .logo{
    width: 50%;
    margin-top: 5.5%;
  }

  .down{
    padding-bottom: 6%;
  }
}
